{% if page.category_tag_list != false %}
<div class="tag-list">
  {% if post %}
    {% assign categories = post.categories %}
    {% assign tags = post.tags %}
  {% else %}
    {% assign categories = page.categories %}
    {% assign tags = page.tags %}
  {% endif %}

  {% for category in categories %}
    <a class="tag-list__item" href="{{ "/category/" | absolute_url }}{{ category | slugify }}/">{{ category }}</a>
  {% endfor %}

  {% for tag in tags %}
    <a class="tag-list__item" href="{{ "/tag/" | absolute_url }}{{ tag | slugify }}/">{{ tag }}</a>
  {% endfor %}
</div>
{% endif %}