<footer class="site-footer{% if page.sidebar %} site-footer--wide{% endif %}">
  {% comment %} Footer Navigation with Support for MailTo and External Links {% endcomment %}
  <nav class="footer-nav">
    <span class="footer-nav__copyright"><a href="{{ '/' | absolute_url }}" title="{{ site.title }}">{{ site.title | capitalize }}</a> &copy; {% if site.text.copyright %}{{ site.text.copyright }} &ndash; {% endif %}{{ site.time | date: '%Y' }}</span>
    {% if site.footer_navigation %}
      {% for link in site.footer_navigation %}
        {% if link.url contains 'http' %}
          {% assign domain = '' %}
        {% elsif link.url contains 'mailto' %}
          {% assign domain = '' %}
        {% else %}
          {% assign domain = site.url | append: site.baseurl %}
        {% endif %}
        <a href="{{ domain }}{{ link.url }}" class="footer-nav__link" {% if link.url contains 'http' %}target="_blank"{% endif %}>{{ link.title | capitalize }}</a>
      {% endfor %}
    {% endif %}

    {% comment %} Theme attribution link {% endcomment %}
    {% if site.attribution == true %}
      <span class="footer-nav__copyright">Designed with <a href="https://desiredpersona.com/themes/" target="_blank">Minimal Theme</a></span>
    {% endif %}
  </nav>
</footer>
