<footer class="flex justify-start items-baseline {% if page.sidebar %}mw8{% else %}mw7{% endif %} center w-100 ph3 ph4-ns mt4 mb2 lh-copy">
  {% comment %} Footer Navigation with Support for MailTo and External Links {% endcomment %} 
  <nav class="flex flex-row flex-wrap">
    <span class="f7 fw3 silver mr3 ttc"><a href="{{ '/' | absolute_url }}" class="f7 fw5 silver hover-silver link underline-hover" title="{{ site.title }}">{{ site.title | capitalize }}</a> &copy; {% if site.text.copyright %}{{ site.text.copyright }} &ndash; {% endif %}{{ site.time | date: '%Y' }}</span>
    {% if site.footer_navigation %}
      {% for link in site.footer_navigation %}
        {% if link.url contains 'http' %}
          {% assign domain = '' %}
        {% elsif link.url contains 'mailto' %}
          {% assign domain = '' %}
        {% else %}
          {% assign domain = site.url | append: site.baseurl %}
        {% endif %}
        <a href="{{ domain }}{{ link.url }}" class="f7 fw3 silver hover-silver link underline-hover mr3" {% if link.url contains 'http' %}target="_blank"{% endif %}>{{ link.title | capitalize }}</a>
      {% endfor %}
    {% endif %}

    {% comment %} Theme attribution link {% endcomment %}
    {% if site.attribution == true %}
      <span class="f7 fw3 silver mr3">Designed with <a href="https://desiredpersona.com/themes/" class="f7 fw3 silver hover-silver link underline-hover mr3" target="_blank">Minimal Theme</a></span>
    {% endif %}
  </nav>
</footer>
