{% comment %} Default Theme Header {% endcomment %}
<div class="site-header{% if page.sidebar %} site-header--wide{% endif %}">
  <a class="site-title" href="{{ '/' | absolute_url }}" title="Home">{{ site.title }}</a>
  {% include_cached navigation.html %}
</div>

{% comment %} Theme Header with Hero Image and Call To Action {% endcomment %}
{% if page.header.layout == 'hero' %}
  <header class="hero hero--with-content {% if page.header.vh %}{{ page.header.vh }}{% endif %} {% if page.header.class %}{{ page.header.class }}{% endif %}" {% if page.header.image %}style="background-image: url({{ page.header.image | absolute_url }})"{% endif %}>
    <div class="hero__inner">
      <div class="hero__content">
        <h1 class="hero__title">{{ page.title }}</h1>
        {% if page.subtitle %}
        <h2 class="hero__subtitle">{{ page.subtitle }}</h2>
        {% endif %}
        {% if page.paragraph %}
        <p class="hero__paragraph">{{ page.paragraph }}</p>
        {% endif %}

        {% if page.header.cta.url contains "://" %}
        <a class="hero__cta {{ page.header.cta.class | join: ' ' }}" href="{{ page.header.cta.url }}" target="_blank" rel="nofollow">{{ page.header.cta.text }}</a>
        {% elsif page.header.cta.url %}
        <a class="hero__cta {{ page.header.cta.class | join: ' ' }}" href="{{ page.header.cta.url | absolute_url }}">{{ page.header.cta.text }}</a>
        {% endif %}
      </div>
    </div>
  </header>

  {% comment %} Theme Header with Hero Image {% endcomment %}
  {% elsif page.header.layout == 'header' %}
  <header class="hero {% if page.header.vh %}{{ page.header.vh }}{% endif %}" {% if page.header.image %}style="background-image: url({{ page.header.image | absolute_url }})"{% endif %}>
  </header>
{% endif %}

{% comment %} Hero Image Caption {% endcomment %}
{% if page.header.caption %}
  <span class="hero-caption">{{ site.text.caption }}&colon;&nbsp; {{ page.header.caption | markdownify | remove: "<p>" | remove: "</p>" }}</span>
{% endif %}
