{% comment %} Header Navigation with Support for MailTo and External Links {% endcomment %}
<div class="site-nav-wrapper">
  <nav class="site-nav">
    {% for link in site.header_navigation %}
      {% if link.url contains 'http' %}
        {% assign domain = '' %}
      {% elsif link.url contains 'mailto' %}
        {% assign domain = '' %}
      {% else %}
        {% assign domain = site.url | append: site.baseurl %}
      {% endif %}
      <a href="{{ domain }}{{ link.url }}" {% if link.url contains 'http' %}target="_blank"{% endif %}>{{ link.title }}</a>
    {% endfor %}
  </nav>
</div>