<div class="flex-l justify-between items-center mw7 mw8-l w-100 {% if page.sidebar %}center-l{% else %}center{% endif %} pt3 pb3 pl3 pr3-ns ph4-m">
{% if page.header.navigation == 'fancy' %}
<a class="white hover-white dim link f2 f3-l fw4 mr3" href="{{ '/' | absolute_url }}" title="Home">{{ site.title }}</a>
{% else %}
<a class="black-80 hover-black-80 link f2 f3-l fw4 mr3" href="{{ '/' | absolute_url }}" title="Home">{{ site.title }}</a>
{% endif %}

  <div class="flex-l items-center mt3 mt0-l">
    <nav class="nowrap overflow-x-auto">
    {% for link in site.data.theme.navigation.main %}
      {% if link.url contains 'http' %}
        {% assign domain = '' %}
      {% elsif link.url contains 'mailto' %}
        {% assign domain = '' %}
      {% else %}
        {% assign domain = site.url | append: site.baseurl %}
      {% endif %}
      <a href="{{ domain }}{{ link.url }}" class="{% if page.header.navigation == 'fancy' %}white hover-white dim{% else %}black-80 hover-black-80{% endif %} link f4 f5-l fw3 mr3 mt2" {% if link.url contains 'http' %}target="_blank"{% endif %}>{{ link.title }}</a>
    {% endfor %}
    </nav>
  </div>
</div>