<div class="flex-l justify-between items-center mw7 mw8-l w-100 {% if page.sidebar %}center-l{% else %}center{% endif %} pa3 ph4-m">
{% if page.header.navigation == 'fancy' %}
<a class="white link f2 f3-l fw4 dim mr3" href="{{ '/' | absolute_url }}" title="Home">{{ site.title }}</a>
{% else %}
<a class="black link f2 f3-l fw4 dim mr3" href="{{ '/' | absolute_url }}" title="Home">{{ site.title }}</a>
{% endif %}

  <div class="flex-l items-center">
    <nav class="nowrap overflow-x-auto">
    {% for link in site.data.theme.navigation.main %}
    {% if link.url contains 'http' or 'mailto' %}
    {% assign domain = '' %}
    {% else %}
    {% assign domain = site.url | append: site.baseurl %}
    {% endif %}

    {% if page.header.navigation == 'fancy' %}
    <a href="{{ domain }}{{ link.url }}" class="white link dim f4 f5-ns fw3 mr3 mt2" {% if link.url contains 'http' %}target="_blank"{% endif %}>{{ link.title }}</a>
    {% else %}
    <a href="{{ domain }}{{ link.url }}" class="black link dim f4 f5-ns fw3 mr3 mt2" {% if link.url contains 'http' %}target="_blank"{% endif %}>{{ link.title }}</a>
    {% endif %}

    {% endfor %}
    </nav>
  </div>
</div>