<form name="contact" method="POST" netlify>
  <div class="contact-form-field">
    <label>Your Name:</label><br>
    <input type="text" name="name" class="contact-form-input contact-form-input--half" />
  </div>
  <div class="contact-form-field">
    <label>Your Email:</label><br>
    <input type="email" name="email" class="contact-form-input contact-form-input--half" />
  </div>
  <div class="contact-form-field">
    <label>Message:</label><br>
    <textarea name="message" class="contact-form-textarea"></textarea>
  </div>
  <div data-netlify-recaptcha></div>
  <div>
    <button class="contact-form-submit" type="submit">Send</button>
  </div>
</form>