<div class="newsletter-form">
  <form action="{{ page.newsletter.url }}" method="POST" target="_blank" accept-charset="utf-8">

    <div class="form-field">
      <label class="form-label" for="name">First name</label>
      <input class="form-input" type="text" name="name" id="name">
    </div>

    <div class="form-field">
      <label class="form-label" for="email">Email address</label>
      <input class="form-input" type="text" name="email" id="email">
    </div>

    <div class="form-field">
      <input type="hidden" name="list" value="{{ page.newsletter.list }}">
      <input class="form-submit" type="submit" name="submit" value="Subscribe">
    </div>
  </form>
</div>
