{% comment %} Calculate a Posts Read time {% endcomment %}
{% assign words = post.content | strip_html | number_of_words %}

{% if site.text.words_per_minute %}
  {% if words < 180 %}
	  {{ site.text.less_than | default: "less than" }} 1 {{ site.text.minute_read | default: "min read" }}
	{% elsif words < 360 %}
	  1 {{ site.text.minute_read | default: "min read" }}
	{% else %}
	  {{ words | divided_by:site.text.words_per_minute }} {{ site.text.minute_read | default: "min read" }}
	{% endif %}
{% else %}
  {{ site.text.undefined_wpm }}
{% endif %}
