/*

    CUSTOM CSS

*/

// Set default font
html {
  font-family: $font-family;
}

// Removes nav margin on last menu link
nav a:last-child {
  margin-right: 0;
}

// Full width
.full {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}

// Link color
a {
  color: $link;
}

// Header caption link
span a {
  color: $figcaption-color;
}

// Horizontal rules
hr {
  height: 1px;
  width: 100%;
  border: 0;
  border-top: $light-gray 1px solid;
  padding: 0;
  }

// Definition list
dt {
  margin-top: 1em;
  font-weight: bold;
 }

dd {
  margin-left: 1em;
 }

// Abbreviation
abbr[title] {
  text-decoration: none;
  cursor: help;
  border-bottom: 1px dotted $black;
}

// Bold text
b,
strong {
  font-weight: 600;
}

// Mark tag
mark {
  background-color: $mark-color;
}

// Image captions
figcaption {
  color: $figcaption-color;
  font-size: 0.8em;
  font-weight: 300;
}

// Tables
table {
  border-collapse: collapse;
  border-spacing: 0;
}

table thead {
  background-color: $table-header;
}

table, th, td {
  padding: 0.4em;
  border: 1px solid $table-border;
}

// Blockquotes
blockquote {
  font-size: 1.4rem;
  line-height: 1.5;
  color: $blockquote-color;
  border-left: $blockquote-border-left solid $blockquote-border;
  padding-left: 1.2rem;
  margin: 3rem 0 3rem 0;
  font-style: italic;
}
blockquote cite {
  font-size: .875rem;
  text-transform: uppercase;
  letter-spacing: .1em;
  font-style: normal;
}

// Codeblocks
code {
  font-family: $code-font-family;
  color: $black-80;
  padding: .25rem .25rem;
  background-color: $code-background-color;
}

pre {
  display: block;
  overflow-x: auto;
  margin: 2rem 0 2rem 0;
  padding: .50rem 1rem;
  background-color: $code-background-color;
}

pre > code {
  padding: 0;
}

// Remove Tachyons 40px left/right margins on codeblocks
figure { margin: 1em 0; }

// Remove Tachyons default body margin
body { margin: 0; }