---
layout: page
---

{{ content }}

<section class="archives-section">
  {% for post in site.posts %}
    <article class="archives-item">
      <a href="{{ post.url | relative_url }}">
        <h3 class="archives-item__title">{{ post.title | escape }}</h3>
        <div class="archives-item__meta">
          {% if post.last_modified_at %}
            <span>{{ site.text.updated }} <time>{{ post.last_modified_at | date: site.date_format }}</time></span>
          {% else %}
            <time>{{ post.date | date: site.date_format }}</time>
          {% endif %}
        </div>
      </a>
    </article>
  {% endfor %}
</section>