---
layout: default
---

<div class="listing-layout">
  <div class="listing-container">
    <h1 class="listing-header">
      {% if page.type == 'year' %}
        Posts from {{ page.date | date: "%Y" }}
      {% elsif page.type == 'month' %}
        Posts from {{ page.date | date: "%B %Y" }}
      {% elsif page.type == 'day' %}
        Posts from {{ page.date | date: site.date_format }}
      {% else %}
        Posts with {{ page.type }} '{{ page.title }}'
      {% endif %}
    </h1>

    {% for post in page.posts %}
      <a href="{{ post.url | relative_url }}">
        <article class="listing-item">
          <h3 class="listing-item__title">{{ post.title | escape }}</h3>
          <div class="listing-item__date">
            {% if post.last_modified_at %}
              <span>{{ site.text.updated }} <time>{{ post.last_modified_at | date: site.date_format }}</time></span>
            {% else %}
              <time>{{ post.date | date: site.date_format }}</time>
            {% endif %}
          </div>
        </article>
      </a>
    {% endfor %}

  </div>
</div>