---
layout: page
---

{{ content }}

<section>
  {% for post in site.posts limit: site.text.blog_limit %}
    <article class="blog-list-item">
      <a href="{{ post.url | relative_url }}">
        <h3 class="blog-list-item__title">{{ post.title | escape }}</h3>
        <p class="blog-list-item__excerpt">{{ post.excerpt | remove: '<p>' | remove: '</p>' }}</p>
        <div class="blog-list-item__meta">
          {% if post.last_modified_at %}
          <span>{{ site.text.updated }} <time>{{ post.last_modified_at | date: site.date_format }}</time></span>
          {% else %}
          <time>{{ post.date | date: site.date_format }}</time>
          {% endif %}
          <span>&middot; {% include read_time.html %}</span>
        </div>
      </a>
    </article>
  {% endfor %}

  <p class="archives-footer">Read older posts from the <a href="{{ "/archives/" | relative_url }}">archives</a></p>
</section>