---
layout: default
---

{% comment %} List All Post Categories {% endcomment %}
<div class="listing-layout">
  <div class="listing-container">
    <h1 class="listing-header">Categories</h1>
    {% for category in site.categories %}
    <article class="listing-item">
      <a href="{{ "/category/" | absolute_url }}{{ category[0] | slugify }}/">
        <h3 class="listing-item__title">{{ category | first }} <span class="listing-count">&#40;{{ category[1].size }}&#41;</span></h3>
      </a>
    </article>
    {% endfor %}
  </div>
</div>