---
layout: page
---

<section>

  <h3 class="section-heading">{{ site.text.post_heading | default: "Latest Posts" }}</h3>

  {% for post in site.posts limit: site.text.post_limit %}
    <article class="post-list-item">
      <a href="{{ post.url | relative_url }}">
        <div class="post-list-item__meta">
          {% if post.last_modified_at %}
          <span>{{ site.text.updated }} <time>{{ post.last_modified_at | date: site.date_format }}</time></span>
          {% else %}
          <time>{{ post.date | date: site.date_format }}</time>
          {% endif %}
          <span>&middot; {% include read_time.html %}</span>
        </div>
        <h3 class="post-list-item__title">{{ post.title | escape }}</h3>
        <p class="post-list-item__excerpt">{{ post.excerpt | remove: '<p>' | remove: '</p>' }}</p>
        <div class="post-list-item__more">{{ site.text.read_more | capitalize }}&hellip;</div>
      </a>
    </article>
  {% endfor %}

  <div class="post-list-footer">
    <a class="btn-outline" href="{{ site.text.blog_url | relative_url }}">{{ site.text.blog_title | default: "All Posts" }}</a>
  </div>
</section>
