---
layout: default
---

<main class="mw8 center flex flex-column flex-row-l justify-center">
  <article class="mw7 {% if page.sidebar %}center-l{% else %}center{% endif %} w-100 w-75-l ph3 ph4-ns">

    {% unless page.header.layout == 'hero' %}
    <header class="mt5">
      <h1 class="f2 fw6 lh-title mb1">{{ page.title }}</h1>
      {% if page.subtitle %}
      <h2 class="f3 fw3 lh-title silver mv2">{{ page.subtitle }}</h2>
      {% endif %}
    </header>
    {% endunless %}

    <div class="f5 f4-ns fw3 lh-copy mb0">
    {{ content }}
    </div>
  </article>

  {% if page.sidebar %}
  {% include sidebar.html %}
  {% endif %}
</main>