---
layout: default
---

<main class="page-layout{% if page.sidebar %} page-layout--with-sidebar{% endif %}">
  <article class="page-article">

    {% unless page.header.layout == 'hero' %}
    <header class="content-header">
      <h1 class="content-title">{{ page.title }}</h1>
      {% if page.subtitle %}
      <h2 class="content-subtitle">{{ page.subtitle }}</h2>
      {% endif %}
    </header>
    {% endunless %}

    <div class="post-content">
    {{ content }}
    </div>
  </article>

  {% if page.sidebar %}
  {% include sidebar.html %}
  {% endif %}
</main>