---
layout: default
---

<main class="post-layout">
  <article class="post-article">

    <header{% if page.post_meta == false %} class="content-header"{% endif %}>
      {% if site.post_meta %}
        {% include post_meta.html %}
      {% endif %}

      {% unless page.header.layout == 'hero' %}
        <h1 class="content-title">{{ page.title }}</h1>
        {% if page.subtitle %}
          <h2 class="content-subtitle">{{ page.subtitle }}</h2>
        {% endif %}
      {% endunless %}
    </header>

    <div class="post-content">
      {{ content }}
    </div>

    <div>
      {% if site.category_tag_list %}
        {% include category_tag_list.html %}
      {% endif %}

      {% if site.share_icons %}
        {% include share_icons.html %}
      {% endif %}

      {% if site.author_bio %}
        {% include author_bio.html %}
      {% endif %}

      {% if site.disqus.shortname %}
        {% include post_comments.html %}
      {% endif %}
    </div>

  </article>
</main>

